body {
    background-image: url('ocean.jpg'); /* 使用您自己的圖像 */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: 	#66B3FF; /* 或其他海洋相關的顏色 */
}
h1, h2, p {
    font-family: 'Tahoma', cursive; /* 使用您自己的字體 */

}
h1 {
    color:	#E0E0E0;
    margin-bottom: 10px;
    font-size: 80px;
    
}
h2 {
    color:#004B97;
    font-size: 50px;
       
}
h3{
    color:#004B97;
    font-size: 100px;

}

.headline {
    position: absolute; /* 使用絕對定位 */
    top: 60%; /* 垂直位置設定為畫面中央 */
    left: 80%; /* 水平位置設定為畫面中央 */
    transform: translate(-50%, -50%); /* 以自身尺寸的一半做為偏移，實現完美置中 */
    font-size: 100px;
    text-align: right; /* 文字向右對齊 */
    opacity: 0.4; /* 設定透明度，0.5代表半透明 */

}
.container {
    height: auto; /* 將容器高度設置為視窗高度 */
    min-height: 100vh; /* 設置最小高度為視窗高度 */
    overflow: auto; /* 如果內容超出容器高度，啟用垂直滾動 */
    position: relative; /* 設置相對位置 */
    align-items: center; /* 垂直居中對齊 */
    text-align: center;
    justify-content: center; /* 水平居中對齊 */
    flex-direction: column; /* 將子元素排列為垂直列 */
    margin-bottom: 20px; /* 根據您的需求設定下邊距大小 */
}

.scrolling-text {
    position: absolute; /* 設置絕對位置 */
    top: 50%; /* 初始位置在垂直中間 */
    left: 50%; /* 初始位置在水平中間 */
    transform: translate(-50%, -50%); /* 以自身一半的尺寸向左和向上偏移，使其在中間 */
    opacity: 1; /* 初始不透明 */
    transition: opacity 0.5s ease-in-out; /* 添加淡入淡出過渡效果 */
    font-size: 70px;
}



.centered-text {
    font-size: 60px; /* 設置字體大小 */
    transform: scale(1); /* 放大文本，此處的1.5可以根據需要調整 */
}

.scroll-up {
    opacity: 0; /* 滾動時設置為完全透明 */
}

.image-container {
    text-align: center; /* 水平置中 */
  }
  
 .image-container img {
    max-width: 100%; /* 設置圖片的最大寬度為螢幕寬度 */
    height: auto; /* 保持圖片的原始高寬比 */
  }
  